__pycache__/
*.py[cod]
.pytest_cache/
.coverage
htmlcov/
.venv/
venv/
.idea/
.vscode/

artifacts/*
!artifacts/.gitkeep
logs/*
!logs/.gitkeep
videos/
*.mp4
*.avi
*.tar
*.tar.gz

score.yaml
*.egg-info/
dist/
build/

